<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>注册</title>
		<link rel="stylesheet" href="../../assets/css/relys/login.css">
	</head>
	<body>
		<div class="container" id="app">
			<div class="loginBox">
				<h3>注册</h3>
				<form id="loginForm">
					<div class="input-wrapper">
						<label>账号:</label>
						<input v-model="username" type="text" name="" placeholder="请输入账号">
					</div>
					<div class="input-wrapper">
						<label>密码:</label>
						<input v-model="mima" type="password" name="" placeholder="密码">
					</div>
					<div class="input-wrapper">
						<label>学历:</label>
						<input v-model="xueli" type="text" name="" placeholder="请输入学历">
					</div>
				</form>
				<a href="../login/login.html">已有账号？去登录</a>
				<button type="button" @click="userRegister">注册</button>
			</div>
		</div>
		<script src="../../assets/js/relys/jquery.js"></script>
		<script src="../../assets/js/relys/vue.js"></script>
		<script src="../../assets/js/api/api.js"></script>
		<script src="../../assets/js/api/defaultuser.js"></script>
		<script type="text/javascript">
			var app = new Vue({
				el: "#app",
				data: {
					username: '',
					mima: '',
					"xueli": "",
				},
				methods: {
					userRegister(){
						var data = {
							"": this.username,
							"mima": this.mima,
							"xueli": this.xueli,
						}
						register('xuelixinxi', data, function(res){
							if(res.code==0){
								alert('注册成功')
								window.parent.location.href = '../login/login.html'
							}
						})
					}
				}
			})
		</script>
	</body>
</html>
