.cart_totals {
  float: left;
  text-align: right;
  width: 100%;
}
.cart_totals h2 {
  border-bottom: 2px solid #333;
  display: inline-block;
  font-size: 30px;
  margin: 0 0 35px;
  text-transform: uppercase;
}
.cart_totals table {
  border: medium none;
  float: right;
  margin: 0;
  text-align: right;
}
.cart_totals table th {
  border: medium none;
  font-size: 18px;
  font-weight: bold;
  padding: 0 20px 12px 0;
  text-align: right;
  text-transform: uppercase;
  vertical-align: top;
}
.cart_totals table td{border: medium none;
padding: 0 0 12px;
vertical-align: top;}
.cart_totals table{}
.cart_totals table td .amount {
  color: #fe4847;
  float: right;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
  text-align: right;
  text-transform: uppercase;
}
.cart_totals table td ul#shipping_method {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.cart_totals table td ul#shipping_method li {
  float: left;
  margin: 0 0 10px;
  padding: 0;
  text-indent: 0;
  width: 100%;
}
.cart_totals table td ul#shipping_method li input {
  margin: 0;
  position: relative;
  top: 2px;
}
.p-thumb img{
	height: 85px;
	object-fit: cover;
}